.button
    display inline-block
    background-color #F9F7F6
    background-image linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.03) 7%, rgba(0, 0, 0, 0.02) 14%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.01) 40%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%)
    border 1px solid rgba(0, 0, 0, 0.11)
    border-radius 8px
    box-shadow inset 0 1px 0 #FFF, 0px 5px 10px rgba(0, 0, 0, 0.5)
    ff(bold,1.6)
    text-transform uppercase
    color #565656
    outline 0
    padding 9px 20px
    margin-bottom 10px
    &:hover
        background-color #fff
        background-image linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.03) 7%, rgba(0, 0, 0, 0.02) 14%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.01) 40%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%)
    &:active
        background-image linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02) 86%, rgba(0, 0, 0, 0.03) 93%, rgba(0, 0, 0, 0.07) 100%)
        box-shadow inset 0 3px 6px rgba(0, 0, 0, 0.6)

.buttonBig
    @extend .button
    padding 17px 20px
    ff(medium,2.4)
.buttonClose
    display block
    position absolute
    border 0
    outline 0
    top 10px
    right 10px
    background-color transparent
    bg()
    size(29,29)
