/* normalize.css v2.1.0 | MIT License | git.io/normalize */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
}
html {
  font-size: 62.5% !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: Arial, sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Regular-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Bold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Bold-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Light-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Light-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-LightItalic-webfont.ttf") format('truetype'), url("../fonts/OpenSans-LightItalic-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Semibold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Semibold-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: SegoeUILight;
  src: url("../fonts/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight.eot?#iefix") format('embedded-opentype'), url("../fonts/SegoeUILight.ttf") format('truetype'), url("../fonts/SegoeUILight.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenSans-CondBold;
  src: url("../fonts/OpenSans-CondBold-webfont.eot");
  src: url("../fonts/OpenSans-CondBold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-CondBold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-CondBold-webfont.svg#09be4bfe8975a657af6444a6f1d73848") format('svg');
  font-style: normal;
  font-weight: normal;
}
body,
html {
  width: 100%;
  min-width: 1020px;
}
.input,
.inputBlue,
.inputBig {
  display: inline-block;
  color: #fff;
  padding: 11px 20px;
  outline: 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  background-color: #be3333;
  background-image: linear-gradient(to top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  border-radius: 6px;
  border: 0px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
}
.input::-webkit-input-placeholder,
.inputBlue::-webkit-input-placeholder,
.inputBig::-webkit-input-placeholder {
  padding-top: 3px;
  color: #ffabab;
}
.input:-moz-placeholder,
.inputBlue:-moz-placeholder,
.inputBig:-moz-placeholder {
  color: #ffabab;
}
.input::-moz-placeholder,
.inputBlue::-moz-placeholder,
.inputBig::-moz-placeholder {
  color: #ffabab;
}
.input:-ms-input-placeholder,
.inputBlue:-ms-input-placeholder,
.inputBig:-ms-input-placeholder {
  color: #ffabab;
}
.inputBlue,
.inputBig {
  background-color: #1570a6;
}
.inputBlue::-webkit-input-placeholder,
.inputBig::-webkit-input-placeholder {
  color: #c6ddea;
}
.inputBlue:-moz-placeholder,
.inputBig:-moz-placeholder {
  color: #c6ddea;
}
.inputBlue::-moz-placeholder,
.inputBig::-moz-placeholder {
  color: #c6ddea;
}
.inputBlue:-ms-input-placeholder,
.inputBig:-ms-input-placeholder {
  color: #c6ddea;
}
.inputBig {
  font-family: "OpenSans-Light", sans-serif;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: normal;
  font-style: normal;
  padding: 13px 20px;
}
.inputBig::-webkit-input-placeholder {
  padding-top: 6px;
}
.button,
.buttonBig {
  display: inline-block;
  background-color: #f9f7f6;
  background-image: linear-gradient(to top, rgba(0,0,0,0.07) 0%, rgba(0,0,0,0.03) 7%, rgba(0,0,0,0.02) 14%, rgba(0,0,0,0.02) 25%, rgba(0,0,0,0.01) 40%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
  border: 1px solid rgba(0,0,0,0.11);
  border-radius: 8px;
  box-shadow: inset 0 1px 0 #fff, 0px 5px 10px rgba(0,0,0,0.5);
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #565656;
  outline: 0;
  padding: 9px 20px;
  margin-bottom: 10px;
}
.button:hover,
.buttonBig:hover {
  background-color: #fff;
  background-image: linear-gradient(to top, rgba(0,0,0,0.07) 0%, rgba(0,0,0,0.03) 7%, rgba(0,0,0,0.02) 14%, rgba(0,0,0,0.02) 25%, rgba(0,0,0,0.01) 40%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
}
.button:active,
.buttonBig:active {
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 60%, rgba(0,0,0,0.02) 75%, rgba(0,0,0,0.02) 86%, rgba(0,0,0,0.03) 93%, rgba(0,0,0,0.07) 100%);
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.6);
}
.buttonBig {
  padding: 17px 20px;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 2.4rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.buttonClose {
  display: block;
  position: absolute;
  border: 0;
  outline: 0;
  top: 10px;
  right: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  width: 29px;
  height: 29px;
}
.banner {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/bannerBG.jpg");
  height: 242px;
  *zoom: 1;
}
.banner:before,
.banner:after {
  content: '';
  display: table;
}
.banner:after {
  clear: both;
}
.bannerHeader {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}
.bannerHeader:before,
.bannerHeader:after {
  content: '';
  display: table;
}
.bannerHeader:after {
  clear: both;
}
.bannerHeaderWrap {
  display: inline-block;
  font-family: "SegoeUILight", sans-serif;
  font-size: 4.8rem;
  line-height: 5.2rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  padding: 0px 6px 4px 6px;
}
.bannerSpace {
  display: block;
  height: 4px;
}
.bannerHeader2 {
  display: inline-block;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  color: #fff;
  margin-left: 20px;
  text-transform: uppercase;
}
.header {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}
.headerWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.headerWrap:before,
.headerWrap:after {
  content: '';
  display: table;
}
.headerWrap:after {
  clear: both;
}
.headerLogo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 17px;
}
.headerLogo:before,
.headerLogo:after {
  content: '';
  display: table;
}
.headerLogo:after {
  clear: both;
}
.headerLogo:last-child {
  margin-right: 0%;
}
.headerLogoImage {
  display: inline-block;
  margin-right: 22px;
}
.headerLogoText {
  display: inline-block;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #5f5f5f;
}
.headerContact {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  padding-top: 12px;
}
.headerContact:before,
.headerContact:after {
  content: '';
  display: table;
}
.headerContact:after {
  clear: both;
}
.headerContact:last-child {
  margin-right: 0%;
}
.headerContactPhone {
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  color: #5f5f5f;
  margin-bottom: 5px;
}
.headerContactText {
  color: #d9403d;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
.offer {
  display: block;
  height: 403px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/offerBG.jpg");
  *zoom: 1;
}
.offer:before,
.offer:after {
  content: '';
  display: table;
}
.offer:after {
  clear: both;
}
.offerWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 32px;
}
.offerWrap:before,
.offerWrap:after {
  content: '';
  display: table;
}
.offerWrap:after {
  clear: both;
}
.offerItem {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.21);
}
.offerItem:before,
.offerItem:after {
  content: '';
  display: table;
}
.offerItem:after {
  clear: both;
}
.offerItem:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.offerItem:nth-child(2n+1) {
  clear: both;
}
.offerItem:nth-child(3) {
  height: 116px;
}
.offerItem:nth-child(4) {
  height: 116px;
}
.offerItemIcon {
  display: table-cell;
  vertical-align: top;
  width: 80px;
}
.offerItemText {
  display: table-cell;
  padding-right: 0px;
}
.offerItemIcon1,
.offerItemIcon2,
.offerItemIcon3,
.offerItemIcon4 {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: left center;
}
.offerCall {
  height: 101px;
  background-color: rgba(255,69,69,0.79);
  *zoom: 1;
}
.offerCall:before,
.offerCall:after {
  content: '';
  display: table;
}
.offerCall:after {
  clear: both;
}
.offerCallBlue {
  height: 101px;
  background-color: #138dd5;
}
.offerCallForm {
  display: block;
}
.offerCallWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 23px;
}
.offerCallWrap:before,
.offerCallWrap:after {
  content: '';
  display: table;
}
.offerCallWrap:after {
  clear: both;
}
.offerCallHeader {
  display: block;
  float: left;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-align: right;
  text-shadow: 0 1px 0 #000101;
  margin-right: 19px;
}
.offerCallInput {
  display: block;
  float: left;
  vertical-align: middle;
}
.offerCallInput input {
  width: 266px;
  margin-right: 25px;
}
.offerCallInput p {
  color: #f88;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.offerCallMessage {
  display: none;
}
.offerCallMessageThanks {
  display: block;
  float: left;
  color: #fff;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000101;
  margin-right: 19px;
}
.offerCallMessageAnswer {
  display: block;
  float: left;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 0 #000101;
}
.offerCallMessageTime {
  display: block;
  padding-top: 5px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #ff9c9c;
  text-align: center;
}
.offerCallMessageTime b {
  display: block;
  color: #ffc6c6;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 2.1rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
.bussines {
  display: block;
  height: 508px;
  padding-top: 128px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/bussinesBG.jpg");
  *zoom: 1;
}
.bussines:before,
.bussines:after {
  content: '';
  display: table;
}
.bussines:after {
  clear: both;
}
.bussinesWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.bussinesWrap:before,
.bussinesWrap:after {
  content: '';
  display: table;
}
.bussinesWrap:after {
  clear: both;
}
.bussinesWrap h1 {
  color: #fff;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 4.8rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.bussinesWrap h2 {
  color: #fff;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 2.1rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.bussinesText {
  margin: 0 auto;
  width: 422px;
}
.bussinesText p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}
.thezis {
  display: block;
  position: relative;
  height: 575px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/thezisBG.jpg");
}
.thezisWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 228px;
}
.thezisWrap:before,
.thezisWrap:after {
  content: '';
  display: table;
}
.thezisWrap:after {
  clear: both;
}
.thezisItemLeft {
  display: inline-block;
  float: left;
  width: 455px;
  height: 246px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/thezisLeftBG.png");
  font-family: "OpenSans-Light", sans-serif;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  padding: 25px 30px;
  text-shadow: 0 2px 0 rgba(0,1,1,0.6);
  margin-right: 50px;
}
.thezisItemRight {
  display: inline-block;
  float: left;
  width: 445px;
  height: 246px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/thezisRightBG.png");
  font-family: "OpenSans-Light", sans-serif;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  padding: 25px 30px;
  text-shadow: 0 2px 0 rgba(0,1,1,0.6);
}
.thezisRound {
  display: block;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 90px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
}
.team {
  display: block;
  height: 523px;
  padding-top: 124px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/teamBG.jpg");
  position: relative;
}
.teamWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.teamWrap:before,
.teamWrap:after {
  content: '';
  display: table;
}
.teamWrap:after {
  clear: both;
}
.teamText {
  display: block;
  float: left;
  width: 684px;
}
.teamText h1 {
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 2.8rem;
  line-height: 4.6rem;
  font-weight: normal;
  font-style: normal;
  color: #214158;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.teamText p {
  color: #4d4c4c;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 3.1rem;
  font-weight: normal;
  font-style: normal;
}
.teamIcon {
  display: block;
  float: right;
  width: 274px;
}
.teamRound {
  display: block;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 90px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: top center;
}
.teamCall {
  height: 101px;
  background-color: rgba(255,69,69,0.79);
}
.teamCallBlue {
  height: 101px;
  background-color: #138dd5;
}
.teamCallForm {
  display: block;
}
.teamCallWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 23px;
}
.teamCallWrap:before,
.teamCallWrap:after {
  content: '';
  display: table;
}
.teamCallWrap:after {
  clear: both;
}
.teamCallHeader {
  display: block;
  float: left;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-align: right;
  text-shadow: 0 1px 0 #000101;
  margin-right: 19px;
}
.teamCallInput {
  display: block;
  float: left;
  vertical-align: middle;
}
.teamCallInput input {
  width: 266px;
  margin-right: 25px;
}
.teamCallInput p {
  color: #b6e4ff;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.teamCallMessage {
  display: none;
}
.teamCallMessageThanks {
  display: block;
  float: left;
  color: #fff;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000101;
  margin-right: 19px;
}
.teamCallMessageAnswer {
  display: block;
  float: left;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 0 #000101;
}
.teamCallMessageTime {
  display: block;
  padding-top: 5px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #76ccff;
  text-align: center;
}
.teamCallMessageTime b {
  display: block;
  color: #b9e4fe;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 2.1rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
.case {
  display: block;
  height: 735px;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/caseBG.jpg");
}
.caseWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.caseWrap:before,
.caseWrap:after {
  content: '';
  display: table;
}
.caseWrap:after {
  clear: both;
}
.caseHeader {
  text-align: center;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 2.8rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 69px;
}
.caseItems {
  display: block;
  position: relative;
  *zoom: 1;
}
.caseItems:before,
.caseItems:after {
  content: '';
  display: table;
}
.caseItems:after {
  clear: both;
}
.caseItem {
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}
.caseItem img {
  opacity: 0.7;
  transition: all 0.4s;
}
.caseItem:hover img {
  opacity: 1;
}
.caseItem:hover .caseText {
  margin-top: 170px;
  color: #0072ff;
}
.caseItem:hover .caseTextStringBorder {
  border-bottom: 1px dashed #0072ff;
}
.caseText {
  display: block;
  position: absolute;
  margin-top: 180px;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 180px auto 0;
  text-align: center;
  color: #0018ff;
  transition: all 0.4s;
}
.caseTextString {
  display: inline-block;
  background-color: #fff;
  padding: 3px 10px;
  margin-bottom: 5px;
  *zoom: 1;
}
.caseTextString:before,
.caseTextString:after {
  content: '';
  display: table;
}
.caseTextString:after {
  clear: both;
}
.caseTextStringBorder {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px dashed #0018ff;
  transition: all 0.4s;
}
.caseItemPopUp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f1f6fa;
  padding: 30px 100px;
}
.caseItemPopUpHeader {
  display: block;
  margin-bottom: 25px;
  *zoom: 1;
}
.caseItemPopUpHeader:before,
.caseItemPopUpHeader:after {
  content: '';
  display: table;
}
.caseItemPopUpHeader:after {
  clear: both;
}
.caseItemPopUpHeaderImage {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
}
.caseItemPopUpHeaderImage img {
  width: 116px;
  height: 116px;
  border-radius: 58px;
}
.caseItemPopUpHeaderText {
  display: table-cell;
  vertical-align: middle;
}
.caseItemPopUpHeaderText h1 {
  color: #2b2b2b;
  margin-bottom: 10px;
}
.caseItemPopUpHeaderText h2 {
  color: #868686;
  text-transform: uppercase;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.3rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.caseItemPopUpBody p {
  color: #5c5c5c;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
}
.tech {
  display: block;
  height: 770px;
  background-color: #fff;
  padding-top: 95px;
  *zoom: 1;
}
.tech:before,
.tech:after {
  content: '';
  display: table;
}
.tech:after {
  clear: both;
}
.techWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.techWrap:before,
.techWrap:after {
  content: '';
  display: table;
}
.techWrap:after {
  clear: both;
}
.techHeader {
  display: block;
  text-align: center;
  margin-bottom: 58px;
  *zoom: 1;
}
.techHeader:before,
.techHeader:after {
  content: '';
  display: table;
}
.techHeader:after {
  clear: both;
}
.techHeader h1 {
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 2.8rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
}
.techItems {
  display: block;
  margin-bottom: 15px;
  *zoom: 1;
}
.techItems:before,
.techItems:after {
  content: '';
  display: table;
}
.techItems:after {
  clear: both;
}
.techItem {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.techItem:before,
.techItem:after {
  content: '';
  display: table;
}
.techItem:after {
  clear: both;
}
.techItem:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.techItem:nth-child(2n+1) {
  clear: both;
}
.techItemHeader,
.techItemHeaderWeb,
.techItemHeaderDesktop,
.techItemHeaderMobile,
.techItemHeaderIntegration {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}
.techItemHeaderIcon {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 11px;
}
.techItemHeaderText {
  vertical-align: middle;
  display: inline-block;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 2.1rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.techItemHeaderWeb .techItemHeaderIcon {
  width: 42px;
  height: 42px;
}
.techItemHeaderWeb .techItemHeaderText {
  color: #2385c7;
}
.techItemHeaderDesktop .techItemHeaderIcon {
  width: 42px;
  height: 42px;
}
.techItemHeaderDesktop .techItemHeaderText {
  color: #7768c2;
}
.techItemHeaderMobile .techItemHeaderIcon {
  width: 22px;
  height: 42px;
}
.techItemHeaderMobile .techItemHeaderText {
  color: #a5558c;
}
.techItemHeaderIcon {
  width: 43px;
  height: 42px;
}
.techItemHeaderText {
  color: #cb4155;
}
.techItemBody,
.techItemBodyWeb,
.techItemBodyDesktop,
.techItemBodyMobile,
.techItemBodyIntegration {
  color: #7d7d7d;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: normal;
  font-style: normal;
}
.techItemBody a,
.techItemBodyWeb a,
.techItemBodyDesktop a,
.techItemBodyMobile a,
.techItemBodyIntegration a {
  display: inline-block;
  color: #7d7d7d;
  text-decoration: underline;
}
.techItemBody a:hover,
.techItemBodyWeb a:hover,
.techItemBodyDesktop a:hover,
.techItemBodyMobile a:hover,
.techItemBodyIntegration a:hover {
  color: #2385c7;
}
.techItemBody .techItemBodyActive,
.techItemBodyWeb .techItemBodyActive,
.techItemBodyDesktop .techItemBodyActive,
.techItemBodyMobile .techItemBodyActive,
.techItemBodyIntegration .techItemBodyActive {
  color: #2385c7;
}
.techItemBodyDesktop a:hover {
  color: #7768c2;
}
.techItemBodyDesktop .techItemBodyActive {
  color: #7768c2;
}
.techItemBodyMobile a:hover {
  color: #a5558c;
}
.techItemBodyMobile .techItemBodyActive {
  color: #a5558c;
}
.techItemBodyIntegration a:hover {
  color: #cb4155;
}
.techItemBodyIntegration .techItemBodyActive {
  color: #cb4155;
}
.techBlock,
.techBlockWeb,
.techBlockDesktop,
.techBlockMobile,
.techBlockIntegration {
  display: block;
  width: 100%;
  height: 159px;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 40px 20px;
  margin-bottom: 20px;
  *zoom: 1;
}
.techBlock:before,
.techBlockWeb:before,
.techBlockDesktop:before,
.techBlockMobile:before,
.techBlockIntegration:before,
.techBlock:after,
.techBlockWeb:after,
.techBlockDesktop:after,
.techBlockMobile:after,
.techBlockIntegration:after {
  content: '';
  display: table;
}
.techBlock:after,
.techBlockWeb:after,
.techBlockDesktop:after,
.techBlockMobile:after,
.techBlockIntegration:after {
  clear: both;
}
.techBlockHeader {
  text-align: center;
  width: 100%;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 15px;
}
.techBlockText {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  color: #7d7d7d;
}
.techBlockWeb {
  display: none;
}
.techBlockWeb .techBlockHeader {
  color: #2385c7;
}
.techBlockDesktop {
  display: none;
}
.techBlockDesktop .techBlockHeader {
  color: #7768c2;
}
.techBlockMobile {
  display: none;
  padding: 20px 20px;
}
.techBlockMobile .techBlockHeader {
  color: #a5558c;
}
.techBlockIntegration {
  padding: 20px 20px;
}
.techBlockIntegration .techBlockHeader {
  color: #cb4155;
}
.call {
  display: block;
  height: 343px;
  padding-top: 58px;
  *zoom: 1;
  background-image: url("../img/callBG.jpg");
}
.call:before,
.call:after {
  content: '';
  display: table;
}
.call:after {
  clear: both;
}
.callWrap {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.callWrap:before,
.callWrap:after {
  content: '';
  display: table;
}
.callWrap:after {
  clear: both;
}
.callForm {
  display: block;
}
.callHeader {
  margin-bottom: 40px;
  text-align: center;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 3.6rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000101;
  color: #fff;
}
.callInput {
  display: block;
  float: left;
}
.callInput input {
  display: block;
  float: left;
  margin-top: 0px;
  width: 462px;
  margin-right: 38px;
}
.callInput button {
  display: block;
  float: left;
}
.callInput p {
  color: #b6e4ff;
  text-align: right;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}
.callMessage {
  display: none;
}
.callMessageThanks {
  display: block;
  text-align: center;
  color: #fff;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000101;
  margin-right: 19px;
  margin-bottom: 50px;
}
.callMessageAnswer {
  display: block;
  float: left;
  font-family: "OpenSans-CondBold", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 0 #000101;
}
.callMessageTime {
  display: block;
  padding-top: 5px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 2.4rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #76ccff;
  text-align: center;
}
.callMessageTime b {
  display: block;
  color: #b9e4fe;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 3rem;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
