.banner
    display block
    bg()
    background-image url('../img/bannerBG.jpg')
    height 242px
    sf()

.bannerHeader
    center()
    padding-top 30px
.bannerHeaderWrap
    display inline-block
    ff(segoe,4.8,5.2)
    text-transform uppercase
    color #fff
    background-color #000
    padding 0px 6px 4px 6px
.bannerSpace
    display block
    height 4px
.bannerHeader2
    display inline-block
    ff(medium,1.3,2.5)
    background-color transparent
    color #fff
    margin-left 20px
    text-transform uppercase