extends _layout

block content
    .banner
        include block/header
        .bannerHeader
            .bannerHeaderWrap Дорогая разработка
            .bannerSpace
            .bannerHeaderWrap сложного ПО
            .bannerHeader2 Lorem ipsum dolor sit amet, consectetur adipisicing </br> elit, sed do eiusmod tempor incididunt ut labore et
    include block/offer
    include block/bussines
    include block/thezis
    include block/team
    include block/case
    include block/tech
    include block/call