.team
    display block
    height 523px
    padding-top 124px
    bg()
    background-image url('../img/teamBG.jpg')
    position relative
.teamWrap
    center()
.teamText
    display block
    float left
    width 684px
    h1
        ff(cond,2.8,4.6)
        color #214158
        text-transform uppercase
        margin-bottom 30px
    p
        color #4D4C4C
        ff(normal,1.6,3.1)
.teamIcon
    display block
    float right
    width 274px

.teamRound
    display block
    position absolute
    bottom 0
    margin auto
    left 0
    right 0
    size(90,29)
    bg(top)


.teamCall
    height 101px
    background-color rgba(255, 69, 69, 0.79)
.teamCallBlue
    height 101px
    background-color #138DD5
.teamCallForm
    display block

.teamCallWrap
    center()
    padding-top 23px
.teamCallHeader
    display block
    float left
    ff(cond,2.1,2.8)
    color #fff
    text-align right
    text-shadow 0 1px 0 #000101
    margin-right 19px
.teamCallInput
    display block
    float left
    vertical-align middle
    input
        width 266px
        margin-right 25px
    p
        color #B6E4FF
        ff(medium,1.0)
.teamCallMessage
    display none
.teamCallMessageThanks
    display block
    float left
    color #FFF
    ff(cond,6.0,6.0)
    text-transform uppercase
    text-shadow 0 1px 0 #000101
    margin-right 19px
.teamCallMessageAnswer
    display block
    float left
    ff(cond,2.1,2.8)
    color #fff
    text-shadow 0 1px 0 #000101
.teamCallMessageTime
    display block
    padding-top 5px
    ff(normal,1.4)
    text-transform uppercase
    color #76CCFF
    b
        display block
        color #B9E4FE
        ff(normal,2.1)
        text-transform uppercase
    text-align center