.case
    display block
    height 735px
    padding-top 90px
    bg()
    background-image url('../img/caseBG.jpg')

.caseWrap
    center()

.caseHeader
    text-align center
    ff(cond,2.8)
    text-transform uppercase
    color #fff
    margin-bottom 69px
.caseItems
    display block
    position relative
    sf()
.caseItem
    display block
    float left
    position relative
    cursor pointer
    img
        opacity .7
        transition all .4s
    &:hover
        img
            opacity 1
        .caseText
            margin-top 170px
            color #0072FF
        .caseTextStringBorder
            border-bottom 1px dashed #0072FF
.caseText
    display block
    position absolute
    margin-top 180px
    width 90%
    top 0
    left 0
    right 0
    margin 180px auto 0
    text-align center
    color #0018FF
    transition all .4s


.caseTextString
    display inline-block
    background-color #fff
    padding 3px 10px
    margin-bottom 5px
    sf()

.caseTextStringBorder
    ff(bold,1.8,2.2)
    border-bottom 1px dashed #0018FF
    transition all .4s

.caseItemPopUp
    display none
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    right 0
    margin auto
    background-color #F1F6FA
    padding 30px 100px

.caseItemPopUpHeader
    display block
    margin-bottom 25px
    sf()
.caseItemPopUpHeaderImage
    display table-cell
    vertical-align middle
    padding-right 30px
    img
        width 116px
        height 116px
        border-radius (116/2)px
.caseItemPopUpHeaderText
    display table-cell
    vertical-align middle
    h1
        ff(medium.2.4)
        color #2B2B2B
        margin-bottom 10px
    h2
        color #868686
        text-transform uppercase
        ff(normal,1.3)
.caseItemPopUpBody
    p
        color #5C5C5C
        ff(normal,1.4)
        margin-bottom 20px