.techItemHeaderWeb
    .techItemHeaderIcon
        background-image url('iconWeb.png')
.techItemHeaderDesktop
    .techItemHeaderIcon
        background-image url('iconDesktop.png')
.techItemHeaderMobile
    .techItemHeaderIcon
        background-image url('iconMobile.png')
.techItemHeaderIntegration
    .techItemHeaderIcon
        background-image url('iconIntegration.png')
.techBlockWeb
    background-image url('borderWeb.png')
.techBlockDesktop
    background-image url('borderDesktop.png')
.techBlockMobile
    background-image url('borderMobile.png')
.techBlockIntegration
    background-image url('borderIntegration.png')