.tech
    display block
    height 770px
    background-color #fff
    padding-top 95px
    sf()
.techWrap
    center()

.techHeader
    display block
    text-align center
    margin-bottom 58px
    sf()
    h1
        ff(cond,2.8)
        color #000
        text-transform uppercase
.techItems
    display block
    margin-bottom 15px
    sf()
.techItem
    col(1/2,cycle:2)
.techItemHeader
    width 100%
    text-align center
    margin-bottom 35px
.techItemHeaderIcon
    vertical-align middle
    display inline-block
    bg()
    margin-right 11px
.techItemHeaderText
    vertical-align middle
    display inline-block
    ff(medium,2.1)


.techItemHeaderWeb
    @extend .techItemHeader
    .techItemHeaderIcon
        size(42,42)
    .techItemHeaderText
        color #2385C7
.techItemHeaderDesktop
    @extend .techItemHeader
    .techItemHeaderIcon
        size(42,42)
    .techItemHeaderText
        color #7768C2

.techItemHeaderMobile
    @extend .techItemHeader
    .techItemHeaderIcon
        size(22,42)
    .techItemHeaderText
        color #A5558C

.techItemHeaderIntegration
     @extend .techItemHeader
    .techItemHeaderIcon
        size(43,42)
    .techItemHeaderText
        color #CB4155



.techItemBody
    color #7D7D7D
    ff(normal, 1.6,3)
    a
        display inline-block
        color #7D7D7D
        text-decoration underline
        &:hover
            color #2385C7
    .techItemBodyActive
            color #2385C7

.techItemBodyWeb
    @extend .techItemBody

.techItemBodyDesktop
    @extend .techItemBody
    a
        &:hover
            color #7768C2
    .techItemBodyActive
            color #7768C2

.techItemBodyMobile
    @extend .techItemBody
    a
        &:hover
            color #A5558C
    .techItemBodyActive
            color #A5558C
.techItemBodyIntegration
    @extend .techItemBody
    a
        &:hover
            color #CB4155
    .techItemBodyActive
            color #CB4155


.techBlock
    display block
    width 100%
    height 159px
    bg(left,top)
    padding 40px 20px
    margin-bottom 20px
    sf()

.techBlockHeader
    text-align center
    width 100%
    ff(bold,1.4)
    margin-bottom 15px
.techBlockText
    ff(normal,1.4)
    color #7D7D7D

.techBlockWeb
    display none
    @extend .techBlock
    .techBlockHeader
        color #2385C7
.techBlockDesktop
    display none
    @extend .techBlock
    .techBlockHeader
        color #7768C2
.techBlockMobile
    display none
    @extend .techBlock
    padding 20px 20px
    .techBlockHeader
        color #A5558C
.techBlockIntegration
    @extend .techBlock
    padding 20px 20px
    .techBlockHeader
        color #CB4155