.call
    display block
    height 343px
    padding-top 58px
    sf()
    background-image url('../img/callBG.jpg')
.callWrap
    center()
.callForm
    display block
.callHeader
    margin-bottom 40px
    text-align center
    ff(cond,3.6)
    text-transform uppercase
    text-shadow 0 1px 0 #000101
    color #FFF

.callInput
    display block
    float left
    // vertical-align middle
    input
        display block
        float left
        margin-top 0px
        width 462px
        margin-right 38px
    button
        display block
        float left
    p
        color #B6E4FF
        text-align right
        ff(medium,1.0)

.callMessage
    display none

.callMessageThanks
    display block
    text-align center
    color #FFF
    ff(cond,6.0,6.0)
    text-transform uppercase
    text-shadow 0 1px 0 #000101
    margin-right 19px
    margin-bottom 50px
.callMessageAnswer
    display block
    float left
    ff(cond,3.2,4)
    color #fff
    text-shadow 0 1px 0 #000101
.callMessageTime
    display block
    padding-top 5px
    ff(normal,2.4)
    text-transform uppercase
    color #76CCFF
    b
        display block
        color #B9E4FE
        ff(normal,3)
        text-transform uppercase
    text-align center