.call
    .callWrap
        .callForm
            .callHeader
                | Закажите звонок и получите бесплатную</br> консультацию
            .callInput
                input.inputBig(placeholder="Ваш номер телефона")
                button.buttonBig.buttonCall Заказать звонок
                p Ваш телефон будет использоваться только для звонка и не попадёт к третьим лицам.
        .callMessage
            .callMessageThanks
                | Спасибо!
            .callMessageAnswer
                | Мы отвечаем на звонки с 9:00 до 21:00</br>по московскому времени
            .callMessageTime
                | Московское время
                b 19:03