.case
    .caseWrap
        .caseHeader
            | Наши кейсы
        .caseItems
            .caseItem.caseItemOne
                img(src="img/case-1.jpg", alt="")
                .caseText
                    .caseTextString
                        .caseTextStringBorder
                            | Из прототипа
                    .caseTextString
                        .caseTextStringBorder
                            | в проект
            .caseItem.caseItemTwo
                img(src="img/case-2.jpg", alt="")
                .caseText
                    .caseTextString
                        .caseTextStringBorder
                            | Срочно исправить
            .caseItem.caseItemThree
                img(src="img/case-3.jpg", alt="")
                .caseText
                    .caseTextString
                        .caseTextStringBorder
                            | От желания
                    .caseTextString
                        .caseTextStringBorder
                            | к требованиям
            .caseItem.caseItemFour
                img(src="img/case-4.jpg", alt="")
                .caseText
                    .caseTextString
                        .caseTextStringBorder
                            | Приятное
                    .caseTextString
                        .caseTextStringBorder
                            | сотрудничество
            .caseItemPopUp.caseItemPopUpOne
                button.buttonClose
                .caseItemPopUpHeader
                    .caseItemPopUpHeaderImage
                        img(src="img/popupImage-1.jpg", alt="")
                    .caseItemPopUpHeaderText
                        h1 Приятное сотрудничество
                        h2 Как мы разрабатывали серверную часть для сайта SiteName.Ru и </br> умудрились всех сделать счастливыми
                .caseItemPopUpBody
                    p Заказчик очень долго не мог сформулировать требования к продукту, хотя понимал, что нужна автоматизация, в общем у него и было едиснтвенно требование "Мне нужна автоматизация" но что конкретно он хотел объяснить не мог. Мы потратили месяц на сбор хотелок и брейншторминг, наблюдали за работой в итоге написали требования за него, он их раждостный подписал. Сейчас на последней итерации всё.

                    p Заказчик очень долго не мог сформулировать требования к продукту, хотя понимал, что нужна автоматизация, в общем у него и было едиснтвенно требование "Мне нужна автоматизация" но что конкретно он хотел объяснить не мог. Мы потратили месяц на сбор хотелок и брейншторминг, наблюдали за работой в итоге написали требования за него, он их раждостный подписал. Сейчас на последней итерации всё.