.header
    .headerWrap
        .headerLogo
            .headerLogoImage
                a(href="#")
                    img(src="img/logo.png", alt="")
            .headerLogoText
                | Web, Desktop & Mobile </br> Development
        .headerContact
            .headerContactPhone
                | 8 (800) 799-79-79
            .headerContactText
                | Бесплатный звонок по России
