.offer
    .offerWrap
        .offerItems
            .offerItem
                .offerItemIcon
                    .offerItemIcon1
                .offerItemText.
                    Мы полностью подстраиваемся под процесс работы привычный вашей компании или предложим свою проверенную схему работы.
            .offerItem
                .offerItemIcon
                    .offerItemIcon2
                .offerItemText.
                    Мы разбиваем процесс разработки на множество небольших этапов, благодаря чему вы можете вносить правки в проект и менять ТЗ на каждом этапе работы.
            .offerItem
                .offerItemIcon
                    .offerItemIcon3
                .offerItemText.
                    В зависимости от вашего проекта мы подберём удобную вам схему оплаты.
            .offerItem
                .offerItemIcon
                    .offerItemIcon4
                .offerItemText.
                    Под ваш проект будет выделен менеджер, который сможет отвечать на все ваши вопросы действительно в любое время дня и ночи. Вам нет нужды разбираться в специальной терминологии и технологиях. У вас высвобождается больше времени для ваших дел.
    .offerCall
        .offerCallWrap
            .offerCallForm
                .offerCallHeader
                    | Закажите звонок и получите бесплатную</br> консультацию
                .offerCallInput
                    input.input(placeholder="Ваш номер телефона")
                    button.button.buttonCall Заказать звонок
                    p Ваш телефон будет использоваться только для звонка и не попадёт к третьим лицам.
            .offerCallMessage
                .offerCallMessageThanks
                    | Спасибо!
                .offerCallMessageAnswer
                    | Мы отвечаем на звонки с 9:00 до 21:00</br>по московскому времени
                .offerCallMessageTime
                    | Московское время
                    b 19:03