.team
    .teamWrap
        .teamText
            h1 Мы всегда можем выделить дополнительных специалистов в вкоманду под ваш проект
            p Это значит, что вы застрахованы от таких человеческих факторов как болезнь или отпуск сотрудника. Плюс ко всему это позволяет нам работать в условиях самых сжатых сроков за счёт увеличения числа специалистов для вашего проекта.
        .teamIcon
            img(src="img/iconTeam.png", alt="")
    .teamRound
.teamCallBlue
    .teamCallWrap
        .teamCallForm
            .teamCallHeader
                | Закажите звонок и получите бесплатную</br> консультацию
            .teamCallInput
                input.inputBlue(placeholder="Ваш номер телефона")
                button.button.buttonCall Заказать звонок
                p Ваш телефон будет использоваться только для звонка и не попадёт к третьим лицам.
        .teamCallMessage
            .teamCallMessageThanks
                | Спасибо!
            .teamCallMessageAnswer
                | Мы отвечаем на звонки с 9:00 до 21:00</br>по московскому времени
            .teamCallMessageTime
                | Московское время
                b 19:03