.tech
    .techWrap
        .techHeader
            h1 Мы мастера во множестве технологий
        .techItems
            .techItem
                .techItemHeaderWeb
                    .techItemHeaderIcon
                    .techItemHeaderText Web
                .techItemBodyWeb
                    a(href="#").techItemBodyActive C
                    | ,&nbsp
                    a(href="#") C++
                    | ,&nbsp
                    a(href="#") C#
                    | ,&nbsp
                    a(href="#") VB
                    | ,&nbsp
                    a(href="#") .Net
                    | ,&nbsp
                    a(href="#") VBA
                    | ,&nbsp
                    a(href="#") Java
                    | ,&nbsp
                    a(href="#") JavaScript
                    | ,&nbsp
                    a(href="#") ASP.Net
                    | ,&nbsp
                    a(href="#") ASP
                    | ,</br>
                    a(href="#") Delphi
                    | ,&nbsp
                    a(href="#") Objective-C
            .techItem
                .techItemHeaderDesktop
                    .techItemHeaderIcon
                    .techItemHeaderText Desktop
                .techItemBodyDesktop
                    a(href="#").techItemBodyActive Win32
                    | ,&nbsp
                    a(href="#") DDK
                    | ,&nbsp
                    a(href="#") MFC
                    | ,&nbsp
                    a(href="#") COM / DCOM / COM +
                    | ,&nbsp
                    a(href="#") ATL
                    | ,&nbsp
                    a(href="#") WTL
                    | ,&nbsp
                    a(href="#") ODO
                    | ,</br>
                    a(href="#") ADBC
                    | ,&nbsp
                    a(href="#") STL
                    | ,&nbsp
                    a(href="#") Glibc
                    | ,&nbsp
                    a(href="#") OpenSSL
                    | ,&nbsp
                    a(href="#") Qt
        .techBlocks
            .techBlockWeb
                .techBlockHeader
                    | C++
                .techBlockText
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .techBlockDesktop
                .techBlockHeader
                    | Win32
                .techBlockText
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .techBlockMobile
                .techBlockHeader
                    | GTK+
                .techBlockText
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .techBlockIntegration
                .techBlockHeader
                    | JavaScript
                .techBlockText
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .techItems
            .techItem
                .techItemHeaderMobile
                    .techItemHeaderIcon
                    .techItemHeaderText Mobile
                .techItemBodyMobile
                    a(href="#").techItemBodyActive GTK+
                    | ,&nbsp
                    a(href="#") Carbon
                    | ,&nbsp
                    a(href="#") Cocoa
                    | ,&nbsp
                    a(href="#") PowerPlant
                    | ,&nbsp
                    a(href="#") iOS SDK
                    | ,&nbsp
                    a(href="#") WinAPI
                    | ,&nbsp
                    a(href="#") CE.Net
                    | ,&nbsp
                    a(href="#") compactframework
                    | ,&nbsp
                    a(href="#") COM
                    | ,&nbsp
                    a(href="#") ATL
                    | ,&nbsp
                    a(href="#") WTL
                    | ,&nbsp
                    a(href="#") MFC

            .techItem
                .techItemHeaderIntegration
                    .techItemHeaderIcon
                    .techItemHeaderText Integration
                .techItemBodyIntegration
                    a(href="#").techItemBodyActive C
                    | ,&nbsp
                    a(href="#") C++
                    | ,&nbsp
                    a(href="#") C#
                    | ,&nbsp
                    a(href="#") VB
                    | ,&nbsp
                    a(href="#") .Net
                    | ,&nbsp
                    a(href="#") VBA
                    | ,&nbsp
                    a(href="#") Java
                    | ,&nbsp
                    a(href="#") JavaScript
                    | ,&nbsp
                    a(href="#") ASP.Net
                    | ,&nbsp
                    a(href="#") ASP
                    | ,</br>
                    a(href="#") Delphi
                    | ,&nbsp
                    a(href="#") Objective-C




