.thezis
    .thezisWrap
        .thezisItemLeft.
            Мы не бросаем ваш проект после релиза и наши специалисты реагируют на каждое сообщение об ошибке.

        .thezisItemRight.
            Мы не бросаем ваш проект после релиза и наши специалисты реагируют на каждое сообщение об ошибке.
    .thezisRound
