.thezis
    display block
    position relative
    height 575px
    bg()
    background-image url('../img/thezisBG.jpg')
.thezisWrap
    center()
    padding-top 228px
.thezisItemLeft
    display inline-block
    float left
    size(455,246)
    bg()
    background-image url('../img/thezisLeftBG.png')
    ff(light_f,2.4,3.6)
    color #FFF
    padding 25px 30px
    text-shadow 0 2px 0 rgba(0, 1, 1, 0.6)
    margin-right 50px
.thezisItemRight
    display inline-block
    float left
    size(445,246)
    bg()
    background-image url('../img/thezisRightBG.png')
    ff(light_f,2.4,3.6)
    color #FFF
    padding 25px 30px
    text-shadow 0 2px 0 rgba(0, 1, 1, 0.6)

.thezisRound
    display block
    position absolute
    bottom 0
    margin auto
    left 0
    right 0
    size(90,29)
    bg()
