.header
    display block
    border-bottom 1px solid #E6E6E6
    padding-bottom 15px
.headerWrap
    center()
.headerLogo
    col(1/2)
    padding-top 17px
.headerLogoImage
    display inline-block
    margin-right 22px
.headerLogoText
    display inline-block
    ff(medium,1.0,1.6)
    text-transform uppercase
    color #5F5F5F
.headerContact
    col(1/2)
    text-align right
    padding-top 12px
.headerContactPhone
    ff(medium,2.2,2.2)
    color #5F5F5F
    margin-bottom 5px
.headerContactText
    color #D9403D
    ff(medium,1,1)
    text-transform uppercase
