// Mixin for font load


defaultFont = 'OpenSans-Regular', sans-serif;
fontPath = "../fonts/"

fontload(fontFile,fontName,fontWidth,fontStyle)
    @font-face
        font-family fontName
        src url(fontPath fontFile '.eot')
        src url(fontPath fontFile '.eot?#iefix') format('embedded-opentype'),
            url(fontPath fontFile '.ttf')  format('truetype'),
            url(fontPath fontFile '.svg#09be4bfe8975a657af6444a6f1d73848') format('svg')
        font-style fontStyle
        font-weight fontWidth



fontload('OpenSans-Regular-webfont',OpenSans-Regular,normal, normal)
fontload('OpenSans-Bold-webfont',OpenSans-Bold,normal, normal)
fontload('OpenSans-Light-webfont',OpenSans-Light,normal, normal)
fontload('OpenSans-LightItalic-webfont',OpenSans-LightItalic,normal, normal)
fontload('OpenSans-Semibold-webfont',OpenSans-Semibold,normal, normal)
fontload('SegoeUILight',SegoeUILight,normal, normal)
fontload('OpenSans-CondBold-webfont',OpenSans-CondBold,normal, normal)


ff(fontfamaly = defaultFont,fsz=1.6,lhsz=normal)
    if fontfamaly == defaultFont
        font-family defaultFont, sans-serif;
        font-size unit(fsz,rem)
        line-height normal
        font-weight 400
        font-style normal

    if fontfamaly == 'normal'
        font-family "OpenSans-Regular", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
                line-height unit(lhsz,rem)
        else
                line-height normal

        font-weight normal
        font-style normal
    if fontfamaly == 'light_f'
        font-family "OpenSans-Light", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
                line-height unit(lhsz,rem)
        else
                line-height normal

        font-weight normal
        font-style normal
    if fontfamaly == 'bold'
        font-family "OpenSans-Bold", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
                line-height unit(lhsz,rem)
        else
                line-height normal

        font-weight normal
        font-style normal

    if fontfamaly == 'medium'
        font-family "OpenSans-Semibold", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
                line-height unit(lhsz,rem)
        else
                line-height normal

        font-weight normal
        font-style normal
    if fontfamaly == 'segoe'
        font-family "SegoeUILight", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
                line-height unit(lhsz,rem)
        else
                line-height normal

        font-weight normal
        font-style normal
    if fontfamaly == 'cond'
        font-family "OpenSans-CondBold", sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
                line-height unit(lhsz,rem)
        else
                line-height normal

        font-weight normal
        font-style normal
