.bussines
    display block
    height 508px
    padding-top 128px
    bg()
    background-image url('../img/bussinesBG.jpg')
    sf()

.bussinesWrap
    center()
    text-align center
    h1
        color #fff
        ff(light_f,4.8)
    h2
        color #fff
        ff(bold,2.1)
        text-transform uppercase
        margin-bottom 40px
.bussinesText
    margin 0 auto
    width 422px
    p
        ff(normal,1.6)
        text-align left
        color #fff
        margin-bottom 20px