.offerItemIcon1
    background-image url('icon-1.png')
.offerItemIcon2
    background-image url('icon-2.png')
.offerItemIcon3
    background-image url('icon-3.png')
.offerItemIcon4
    background-image url('icon-4.png')