.offer
    display block
    height 403px
    bg()
    background-image url('../img/offerBG.jpg')
    sf()
.offerWrap
    center()
    padding-top 32px

.offerItem
    col(1/2,cycle:2,gutter:3)
    ff(normal,1.4,2.1)
    color white
    padding-bottom 10px
    margin-bottom 40px
    border-bottom 1px solid rgba(255, 255, 255, 0.21)
    &:nth-child(3)
        height 116px
    &:nth-child(4)
        height 116px

.offerItemIcon
    display table-cell
    vertical-align top
    width 80px
.offerItemText
    display table-cell
    padding-right 0px

.offerItemIcon1,
.offerItemIcon2,
.offerItemIcon3,
.offerItemIcon4
    display block
    width 60px
    height 60px
    bg(left)

.offerCall
    height 101px
    background-color rgba(255, 69, 69, 0.79)
    sf()
.offerCallBlue
    height 101px
    background-color #138DD5
.offerCallForm
    display block

.offerCallWrap
    center()
    padding-top 23px
.offerCallHeader
    display block
    float left
    ff(cond,2.1,2.8)
    color #fff
    text-align right
    text-shadow 0 1px 0 #000101
    margin-right 19px
.offerCallInput
    display block
    float left
    vertical-align middle
    input
        width 266px
        margin-right 25px
    p
        color #F88
        ff(medium,1.0)
.offerCallMessage
    display none
.offerCallMessageThanks
    display block
    float left
    color #FFF
    ff(cond,6.0,6.0)
    text-transform uppercase
    text-shadow 0 1px 0 #000101
    margin-right 19px
.offerCallMessageAnswer
    display block
    float left
    ff(cond,2.1,2.8)
    color #fff
    text-shadow 0 1px 0 #000101
.offerCallMessageTime
    display block
    padding-top 5px
    ff(normal,1.4)
    text-transform uppercase
    color #FF9C9C
    b
        display block
        color #FFC6C6
        ff(normal,2.1)
        text-transform uppercase
    text-align center