.input
    display inline-block
    color #FFF
    padding 11px 20px
    outline 0
    ff(normal,1.6,1.6)
    background-color #BE3333
    background-image linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%)
    border-radius 6px
    border 0px
    box-shadow inset 0 1px 5px rgba(0, 0, 0, 0.3)
    &::-webkit-input-placeholder
        padding-top 3px
        color #FFABAB
    &:-moz-placeholder
        color #FFABAB
    &::-moz-placeholder
        color #FFABAB
    &:-ms-input-placeholder
        color #FFABAB

.inputBlue
    @extend .input
    background-color #1570A6
    &::-webkit-input-placeholder
        color #C6DDEA
    &:-moz-placeholder
        color #C6DDEA
    &::-moz-placeholder
        color #C6DDEA
    &:-ms-input-placeholder
        color #C6DDEA

.inputBig
    @extend .inputBlue
    ff(light_f,3.6,3.6)
    padding 13px 20px
    &::-webkit-input-placeholder
        padding-top 6px
